@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    /* size of header + some extra */
    margin-top: calc(100px + 1rem);
    background: #2e3035;
}

a {
    color: white;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

